/* @font-face {
    font-family: 'Recoleta';
    src: url('./fonts/Recoleta-SemiBold.eot');
    src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
        url('./fonts/Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Recoleta-SemiBold.woff') format('woff'),
        url('./fonts/Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Title';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/HelveticaNowText-Bold.woff') format('woff'),
        url('./fonts/HelveticaNowText-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Text';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/HelveticaNowText-Regular.woff') format('woff'),
        url('./fonts/HelveticaNowText-Regular.woff2') format('woff2');
    font-display: swap;
}
